





/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// GENERAL //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/

*{	
	font-family:  'AlteHaasGroteskRegular.ttf', serif;
	text-decoration: none;
	font-size: 12px;
}

article{
	margin-bottom: 200px;
}
figure{
	margin: 0px;
}
/*figcaption{
	margin-top: 5px;
	text-align: right;
}
*/


@font-face {

    font-family: 'AlteHaasGroteskRegular.ttf';

    src: url('police/AlteHaasGroteskRegular.ttf');

}
@font-face {

    font-family: 'Fancy_Pansy.ttf';

    src: url('Fancy_Pansy.ttf');

}

@font-face {

    font-family: 'Overpass-ExtraLight.ttf';

    src: url('Overpass-ExtraLight.ttf');

}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// NAVIGATION  //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
                                       

nav{
	padding-top: 2%;
	width: 215px;
    overflow: auto;
    top: 0;
    bottom: 0;
	left: 0;
    position: fixed;
    height: 100%;
	font-size: 12px;
	line-height: 60%;
}

nav h2{
	text-align: left;
	padding-left: 5%;
	font-size: 12px;
}

nav ul {
	list-style: none;
	padding-left: 5%;
	text-align: left;
}

nav ul li {
 	/*font-weight: bold; */
	text-decoration: none;	
	color:#bbb;
	margin-bottom: 10px;
	list-style: none
	 }

a:link { text-decoration: none; color:black; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: underline; }



.retour_menu 
{ 
	display: block;
	font-family: 'Fancy_Pansy.ttf';
	font-size: 70px;
	border-width: 1px;
	text-align: left;
	margin-bottom: 50px;
	margin-left: 5%; 	}

h1 a:hover 
{  
	text-decoration: none; 
	}







/*/////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// SECTION / CONTENU //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/
	

                                      
section
{
	 height: 100%;
    margin: 0 0 100px 215px;
	top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

/* GROSSE BLAGUE
#acceuil{
	background-image: url(PC.JPG);
}   */




/*/////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////// ARTICLES //////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////// ECRAN //////////////////////////////////////////*/



/*////////////////////////////////////////// ETENDUE EAU SALEE //////////////////////////////////////////*/
#etendue_presentation{
width: 50%;
margin-bottom: 5%; 
}
#etendue_titre{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
/*/////////////////////////////////////////*/
#etendue_article_1{
	width: 50%;
	margin-bottom: 5%; 
	}
/*/////////////////////////////////////////*/
#etendue_article_2{
	padding-right: 20%;
	margin-bottom: 5%; 
	position: relative;
}
#etendue_figcaption_photo_2{
	margin-top: -17%;
	margin-bottom: 17%;
	padding-left: 15%;
	font-size: 11px;
}
#etendue_photo_3{
	position: absolute;
	right: 10%;
	top: 3%;
}
/*/////////////////////////////////////////*/
#etendue_article_3{
	position: relative;	
}
#etendue_photo_4{
	margin-left: 15%;
}
#etendue_photo_5{
	position: absolute;
	right: 3%;
	top: 25%;
}
#etendue_figcaption_photo_5{
	position: absolute;
	right: 5%;
	bottom: -15%;
	font-size:9px;
}
/*/////////////////////////////////////////*/
#etendue_article_4{
	position: relative;	
}
#etendue_photo_6{
	margin-top: -50%;
	margin-left: 15%;
}
#etendue_figcaption_photo_6{
	font-size: 7px;
	position: absolute;
	bottom: 25%;
	left: 18%;
	color: #bbb;
}
#etendue_photo_7{
	position: absolute;
	right: 5%;
	top: 0%;
}
/*/////////////////////////////////////////*/
#etendue_article_5{
	position: relative;
	width: 70%;
}
#etendue_photo_8{
	width: 100%;
}
#etendue_photo_9{
	position: absolute;
	width: 20%;
	bottom: 15%;
	left: 30%;
}
#etendue_photo_10{
	position: absolute;
	width: 35%;
	right: 13%;
	bottom: 20%;
}
/*/////////////////////////////////////////*/
#etendue_article_6{
	position: relative;
	width: 100%;
}
#etendue_photo_11{
	width: 90%;
}
#etendue_photo_12{
	position: absolute;
	top: -10%;
	left: 26%;
	width: 30%;
}
#etendue_photo_13{
	position: absolute;
	right: 15%;
	top: -17%;
	width: 30%;
}
#etendue_photo_14{
	position: absolute;
	bottom: -20%;
	left: 15%;
	width: 40%;
}
#etendue_photo_15{
	position: absolute;
	bottom: -10%;
	width: 20%;
	right: 20%;
}
/*/////////////////////////////////////////*/
#etendue_article_7{
	margin-top:15%;
	width: 50%;
}
/*////////////////////////////////// PORTRAIT A L HUILE //////////////////////////////////////////*/



/*//////////////////////////////////////////  LIVING //////////////////////////////////////////*/


/*////////////////////////////////////////// LA COMMUNICATION //////////////////////////////////////////*/
#communication_impossible{
	width: 700px; 
	display: flex;
	justify-content: space-around;
	
}
/*////////////////////////////////////////// APPLIQUE //////////////////////////////////////////*/

/*////////////////////////////////////////// SCULPTURE 14//////////////////////////////////////////*/


/*////////////////////////////////////////// 3 SOLUTIONS//////////////////////////////////////////*/


/*////////////////////////////////////////// CHANGEMENT D ETAT//////////////////////////////////////////*/


/*////////////////////////////////////////// COLLABORATIONS//////////////////////////////////////////*/
.wet_flower{
	display: flex;
	justify-content: center;
}
.photo_wet_flower{
	width: 300px;
	margin: 10px;
}
.photo_collapsing_market{
	width: 620px;
}
#collapsing_market{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#collapsing_market p{
	width: 620px;
}
#reborn p{
	margin: 5px;
	width: 620px;
}
.reborn_1{
	display: flex;
	justify-content: center;	
}
.photo_reborn_1{
	width: 200px;
	margin: 5px;
}
.reborn_2{
	display: flex;
	justify-content: center;	
}
.photo_reborn_2{	
	width: 620px;
	margin: 5px;
}
.photo_4_afterhomework_2018{	
	width: 300px;
	margin: 5px;
}
.collab_5_after{	
	
	margin: 5px;
}
.collab_5_after_MEP{	
	display: flex;
	justify-content: space-between;
}
/*////////////////////////////////////////// EXPOSITION PRESSE//////////////////////////////////////////*/


/*////////////////////////////////////////// CONTACT//////////////////////////////////////////*/




